@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7lXcf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4m0qyriQwlOrhSvowK_l5-eSZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR71Wsf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4l0qyriQwlOrhSvowK_l5-eR7NWMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l521wRpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-440qyriQwlOrhSvowK_l5Oew.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52_wFpXw.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs13FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs169vgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v53/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZogUE.ttf) format('truetype');
}
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
  background-color: #333333;
}
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Oswald", serif;
}
p {
  width: 100%;
}
ul,
li,
p {
  margin: 0;
  line-height: 1.6;
  color: #333333;
  font-size: 16px;
}
ul,
li {
  padding: 0;
  list-style: none;
}
p strong,
p b {
  font-weight: 800;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h2 {
  font-weight: 800;
  font-style: normal;
}
button {
  border: 0;
  cursor: pointer;
}
.container {
  width: 100%;
}
section {
  display: flex;
  padding: 3rem 1.5rem;
}
@keyframes moveleft {
  0% {
    left: 0;
  }
  50% {
    left: 75px;
  }
  100% {
    left: 0;
  }
}
@keyframes turn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes zoom {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}
@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.btn {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 14px 28px;
  background-color: #1c1f1e;
}
.btn img {
  width: 12px;
  margin-right: 10px;
}
.btn .white-icon {
  display: none;
}
.btn:hover .plus {
  display: none;
}
.btn:hover .white-icon {
  display: inline-block;
}
.btn.hover-filled-slide-left::before,
.btn.hover-filled-slide-left::after {
  position: absolute;
  content: "";
}
.btn.hover-filled-slide-left::before {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.btn-1::before {
  background-color: #26ccca;
  transition: 0.3s ease-out;
}
.btn-1.btn-yellow::before {
  background-color: #ffef3c;
}
.btn.hover-filled-slide-left:hover::before {
  width: 0%;
}
.btn-1 span {
  color: #fff;
  z-index: 2;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 600;
}
.btn-1.btn-yellow span {
  color: #333333;
}
.btn-1.btn-yellow:hover span {
  color: #FFFFFF;
}
.heading {
  color: #333333;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 500;
}
.heading span {
  color: #26ccca;
}
.banner {
  padding: 0rem;
  flex-direction: column;
}
.banner .logo-container,
.banner .logo,
.banner .menu,
.banner .menu-toggle {
  display: flex;
}
.banner .logo-container {
  padding: 1rem 1.5rem;
  box-shadow: 0 0 6px #FFFFFF;
  z-index: 2;
}
.banner .logo-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .logo-container .logo {
  display: flex;
  align-items: center;
  max-width: 70px;
}
.banner .logo-container .logo img {
  height: 100%;
  width: 100%;
}
.banner .logo-container .menu {
  height: 23px;
  width: 23px;
}
.banner .logo-container .menu img {
  height: 100%;
  width: 100%;
}
.banner .logo-container .menu-links {
  position: fixed;
  width: 0;
  top: 0;
  right: 0;
  box-shadow: 0 0 6px #FFFFFF;
  transition: 1s all;
  z-index: 5;
}
.banner .logo-container .menu-links .menu-toggle {
  align-items: center;
}
.banner .logo-container .menu-links .menu-toggle img {
  height: 15px;
  width: 15px;
  margin-right: 0.2rem;
}
.banner .logo-container .menu-links .links-li {
  color: #333333;
  padding: 0.5rem 0;
  border-bottom: 1px solid #FFFFFF;
  font-weight: 500;
  letter-spacing: 0.16em;
  line-height: 24px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.banner .logo-container .menu-links .links-li:first-child {
  padding-top: 0;
}
.banner .logo-container .menu-links .links-li .dropdown {
  display: flex;
  position: absolute !important;
  flex-direction: column;
  top: 35px;
  background-color: black;
  color: #ffffff;
  min-width: 150px;
  height: 0px;
  transition: 0.2s all;
  padding: 10px;
  opacity: 0;
}
.banner .logo-container .menu-links .links-li .dropdown a {
  padding: 5px 0;
  font-family: Oswald, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.banner .logo-container .menu-links .links-li:hover .dropdown {
  height: 156px;
  opacity: 1;
}
.banner .active + .menu-links {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
}
.banner .active + .menu-links .menu-toggle {
  justify-content: flex-end;
}
.banner .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 1s;
  box-shadow: 0 0 10px #FFFFFF;
  background: white;
}
.banner .sticky-down {
  top: -100px;
}
.banner .banner-container {
  background: url('../img/master/banner-bg.png');
  background-size: cover;
  background-attachment: fixed;
  padding: 30px 20px 40px;
  background-position: right;
}
.banner .content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 767px;
  align-items: flex-start;
}
.banner h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.2;
}
.banner h1 span {
  color: #26ccca;
}
.banner p {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #888;
  font-style: italic;
  max-width: 483px;
}
.services {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
}
.services-list .services-item {
  position: relative;
}
.services-list .services-item img {
  width: 100%;
  height: 100%;
}
.services-list .services-item .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  background: #00000075;
  top: 0;
  height: 100%;
  gap: 12px;
}
.services-list .services-item .content h3 {
  font-size: 36px;
}
.services-list .services-item .content p {
  color: white;
  font-family: Merriweather, serif;
  font-size: 14px;
}
.new-project {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.new-project .project-inner {
  display: flex;
  flex-wrap: wrap;
  background: url('../img/master/grey-bg.jpg');
  background-size: cover;
  padding: 20px;
}
.new-project p,
.new-project li {
  font-size: 14px;
  color: #888888;
  font-family: Merriweather, serif;
}
.new-project ul {
  margin-top: 2rem;
}
.new-project ul li {
  margin-top: 8px;
}
.new-project button {
  width: auto;
  margin: auto;
  transform: translateY(22px);
}
.vision {
  padding: 6rem 0;
}
.vision .vision-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}
.vision .vision-list h3 {
  font-size: 25px;
}
.vision .vision-list p {
  font-family: Merriweather, serif;
  font-size: 14px;
  color: #888;
}
.vision .vision-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;
}
.vision .vision-item svg {
  margin-bottom: 20px;
}
.img-section .img-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url('../img/master/gd.jpg');
  padding: 100px 60px;
  min-height: 500px;
  gap: 30px;
}
.img-section h2 {
  font-size: 45px;
  max-width: 580px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 1.3em;
}
.blogs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.blogs ul li {
  max-width: 100%;
  padding: 0 25px;
}
.blogs ul li .blogdate {
  display: flex;
  color: #26ccca !important;
  font-size: 13px !important;
  font-style: italic;
  text-decoration: none;
  margin: 22px 0 0 0;
  transition: color 0.2s ease-out;
}
.blogs ul li .blogdate:hover {
  color: #000000 !important;
  transition: color 0.2s ease-out;
}
.blogs ul li h4 {
  font-size: 25px;
  font-weight: 500;
  font-family: Merriweather, serif;
  line-height: 1.3em;
  margin: 20px 0;
  text-transform: uppercase;
  color: #0d0d0d;
  transition: color 0.2s ease-out;
}
.blogs ul li h4 a {
  transition: color 0.2s ease-out;
}
.blogs ul li h4 a:hover {
  color: #26ccca !important;
  transition: color 0.2s ease-out;
}
.blogs ul li p {
  margin-top: 20px;
  font-family: Merriweather, serif;
  font-size: 14px;
  color: #888;
}
.footer .footer-inner {
  display: flex;
  flex-wrap: wrap;
  background: #1c1c1c;
  color: white;
  padding: 20px;
  row-gap: 18px;
}
.footer h3 {
  margin-bottom: 10px;
}
.footer li {
  font-style: italic;
}
.footer p,
.footer li,
.footer a {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
}
@media (min-width : 768px) {
  section {
    padding: 3rem 2rem;
  }
  .banner .logo-container {
    padding: 1rem 2rem;
  }
  .banner .logo-container .active + .menu-links {
    width: 50%;
    background-color: white;
  }
  .banner .menu-links .links-li .dropdown {
    position: static !important;
  }
  .services-list .services-item {
    width: 50%;
  }
  .new-project .project-inner {
    gap: 40px;
  }
  .new-project .heading {
    width: 38%;
    margin-top: 2rem;
  }
  .new-project .content {
    width: 60%;
  }
  .vision .vision-item {
    width: 30%;
  }
  .blogs ul li {
    width: 33%;
    padding: 0 15px;
  }
  .blogs ul li h4 {
    margin: 15px 0;
  }
  .blogs ul li p {
    margin-top: 15px;
    font-size: 14px;
  }
  .footer .footer-inner {
    justify-content: space-between;
  }
  .footer .footer-items {
    width: 22%;
  }
  .footer .footer-items:first-child {
    width: 40%;
  }
  .footer .footer-items:last-child {
    width: 30%;
  }
}
@media (min-width : 1024px) {
  p,
  li {
    line-height: 1.8;
  }
  .heading h2 {
    font-size: 28px;
  }
  .banner h1 {
    font-size: 60px;
  }
  .banner .logo-container {
    box-shadow: none;
  }
  .banner .logo-container .menu,
  .banner .logo-container .menu-toggle {
    display: none;
  }
  .banner .logo-container .logo {
    max-width: 70px;
  }
  .banner .logo-container .menu-links {
    display: flex;
    position: relative;
    width: auto;
    background-color: transparent;
    box-shadow: none;
  }
  .banner .logo-container .menu-links ul {
    display: flex;
    align-items: center;
  }
  .banner .logo-container .menu-links .links-li {
    border-bottom: 0;
    padding: 0;
    margin-right: 40px;
  }
  .services-list .services-item {
    width: 25%;
  }
  .new-project .content,
  .new-project .heading {
    width: 48%;
  }
  .footer .footer-inner {
    padding: 42px 32px;
  }
}
@media (min-width : 1366px) {
  .container {
    max-width: 1370px;
    margin: 0 auto;
  }
  section {
    padding: 4rem 0rem;
  }
  .heading {
    font-size: 40px;
  }
  .banner .logo-container {
    padding: 0.8rem 0 !important;
  }
  .banner .logo-container .menu-links ul .links-li:nth-of-type(4) {
    display: flex;
  }
  .banner .banner-container {
    padding: 80px 60px;
  }
  .new-project .project-inner {
    padding: 90px 60px 0 60px;
  }
}
@media (min-width : 1500px) {
}
